/*<!--For X-small device-->*/

@media (max-width: 767px) {
    #owner .image{
    min-width: 80px; 
}
#owner .image{
    min-width: 80px; 
    min-height: 80px; 
}
}


/*<!--For small device-->*/

@media only screen and (min-width:768px) and (max-width: 991px) {
   #owner .image{
    min-width: 90px; 
}
#owner .image{
    min-width: 90px; 
    min-height: 90px; 
}
}


/*<!--For medium device-->*/

@media only screen and (min-width:992px) and (max-width: 1199px) {
   
}


/*<!--For Large device-->*/

@media (min-width:1200px) {
   
    
}

